<!DOCTYPE html>
<html>
<head>
    <title>Start Parsing</title>
</head>
<body>
    <h1>Start Page Parsing Task</h1>
    <form method="post">
        {% csrf_token %}
        <label for="url">Base URL:</label>
        <input type="url" id="url" name="url" required><br><br>
        <label for="login_url">Login URL:</label>
        <input type="url" id="login_url" name="login_url" required><br><br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <label for="monitoring_url">Monitoring URL:</label>
        <input type="url" id="monitoring_url" name="monitoring_url" required><br><br>
        <label for="alarm_monitor_name">Alarm Monitor Name:</label>
        <input type="text" id="alarm_monitor_name" name="alarm_monitor_name" required><br><br>
        <button type="submit">Start Parsing</button>
    </form>
</body>
</html>